

.feature-card {
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 523px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 100%;
  // height: 300px;
  background-image: url('../../resources/images/trapezoid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;

  .trapezoid {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 77%;
    // height: 100%;
    path {
      fill: red !important;
    }
  }

  .content {
    display: flex;
    align-items: center;
    z-index: 2;
    width: 100%;
    padding: 10px;

    .img-container {
      width: 50%;
      max-width: 250px;
      .img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .text {
      width: 50%;
      text-align: start;
      h3 {
        // font-size: 18px;
        font-size: 1.125rem;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        color: #555;
        line-height: 1.6;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        max-height: calc(1.6em * 6);
        text-overflow: ellipsis;
        height: 157.57px;
      }
      .learn-more {
        display: inline-block;
        margin-top: 20px;
        font-size: 14px;
        color: #6c63ff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  /* Media Queries */

  @media (max-width: 480px) {
    background-position: center;
    width: 90%;
    padding: 30px;
    .content {
      flex-direction: column;
      .img-container {
        width: 20%;
      }
      .text {
        width: 65%;
        h3 {
          margin-top: 5px;
          overflow: hidden;
          overflow-y: hidden;
          text-overflow: ellipsis;
        }
        p {
          height: 25px;
          margin-top: 5px;
          margin-bottom: 0;
          -webkit-line-clamp: 1;
          max-height: calc(1.6em * 1);
        }
        .learn-more {
          margin-top: 5px;
        }
      }
    }
  }
  
  @media (min-width: 480px) and (max-width: 600px) {
    background-position: center;
    width: 90%;
    padding: 30px;
    .trapezoid {
      height: 100%;
      width: 100%;
    }
    .content {
      flex-direction: column;
      .img-container {
        width: 40%;
      }
      .text {
        width: 100%;
        p {
          height: 75px;
          -webkit-line-clamp: 3;
          max-height: calc(1.6em * 3);
        }
      }
    }
  }

  /* Màn hình từ 600px trở lên */
  @media (min-width: 600px) and (max-width: 789px) {
    // padding: 30px;
    // height: 300px;
    // .trapezoid {
    //   height: 100%;
    //   // width: 60%;
    // }
    // .content {
    //   gap: 0px;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   .text {
    //     width: 60%;
    //     p {
    //       height: 50px;

    //       // overflow: hidden;
    //       // display: -webkit-box;
    //       // -webkit-box-orient: vertical;
    //       // -webkit-line-clamp: 4;
    //       // max-height: calc(1.6em * 4);
    //       // text-overflow: ellipsis;
    //       -webkit-line-clamp: 4;
    //       max-height: calc(1.6em * 4);
    //     }
    //   }
    // }
    .content {
      gap: 20px;
      .img-container {
        width: 48%;
      }
      .text {
        width: 52%;
      }
    }
  }

  @media (min-width: 789px) and (max-width: 1100px) {
    padding-top: 10px;
    padding-bottom: 30px;
    flex-direction: row;
    height: 300px;

    .trapezoid {
      height: 100%;
    }

    .content {
      .img-container {
        width: 48%;
      }
      .text {
        width: 52%;
        text-align: start;
        p {
          height: 100px;
          -webkit-line-clamp: 4;
          max-height: calc(1.6em * 4);
        }
      }
    }
  }

  /* Màn hình từ 1100px trở lên */
  @media (min-width: 1100px) {
    .content {
      gap: 20px;
      .img-container {
        width: 48%;
      }
      .text {
        width: 52%;
      }
    }
  }
}

